@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

body{
  background-color: #031926;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #9DBEBB;
}

#background-image{
  width: 100%;
}